@model Web.Models.UserManager.UserManagerListModel
@{
	ViewBag.Title = "List of employees";
}
<div class="grid_12">
	@Html.Partial("InfoMessage", this.Model.InfoMessage)
	<div class="page_header">
		<h2>
			Employees
		</h2>
	</div>
	<table>
		<tr>
			<th>
				Name
			</th>
			<th>
				Roles
			</th>
		</tr>
		@foreach (var employee in this.Model.Users)
  {
			<tr>
				<td>
					@employee.UserName
				</td>
				<td>
					@(Html.ActionLink<UserManagerController>(call => call.Edit(employee.Id
						), "Assign roles"))
				</td>
			</tr>
  }
	</table>
</div>
<div class="grid_4">
	<h3>
		Actions</h3>
	<div class="page_header_buttons">
		<a href="@(Html.BuildUrlFromExpression<UserManagerController>(it => it.Create()))">
			<button type="button" class="sexybutton sexysimple sexygreen">
				Create new</button></a>
	</div>
	<h3>
		Information</h3>
	<p>
		In order for an employee to appear in this list he must
		<ul>
			<li>First exist as a user in the domain</li>
			<li>Second login to this application at least once</li>
		</ul>
	</p>
</div>
