@{
	ViewBag.Title = "About Us";
}
<h2>
	About</h2>
	<div class="grid_10">
<p>
	Booker makes it so it is very easy for you to manage bookmarks.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt nibh vel
	diam porta nec condimentum libero condimentum. Aenean pellentesque nisi ut felis
	tincidunt cursus sodales ligula lobortis. Quisque vehicula suscipit commodo. Fusce
	malesuada nisi eros, sit amet placerat massa. Praesent eget ornare odio. In in felis
	lacus. Curabitur ultricies lacinia ante ut ultricies. Pellentesque quis tristique
	elit. Sed porta laoreet leo, ac tristique nunc ultrices vel. Cras at urna odio.
	Duis scelerisque elementum lorem, vitae porta arcu ultrices aliquet. Sed vestibulum,
	lorem et venenatis consectetur, ligula lectus vehicula ante, vel venenatis sem est
	quis ipsum.
</p>
<p>
	Suspendisse venenatis, sapien non tincidunt bibendum, sapien dui ultrices sapien,
	in vestibulum velit mi in mi. Nulla libero eros, luctus nec hendrerit ut, dignissim
	ac neque. Mauris gravida posuere odio, nec pellentesque libero scelerisque sed.
	In mattis molestie mattis. Mauris scelerisque tincidunt augue non gravida. Lorem
	ipsum dolor sit amet, consectetur adipiscing elit. In ultrices tempor ante eget
	volutpat. Vivamus non molestie felis. Donec ac ante quis nibh vulputate vehicula
	sed in magna. Donec nulla massa, mattis adipiscing fringilla non, iaculis in purus.
	Aliquam dictum consectetur erat, sit amet congue turpis aliquam in. Donec aliquet
	imperdiet ipsum, a pretium ipsum vehicula nec. Sed lobortis convallis diam, eu gravida
	nisl ultrices at. Donec sagittis facilisis sagittis. Maecenas in lacinia augue.
	Proin quis nulla augue. Ut eu porttitor tortor. Quisque vehicula ultrices pretium.
</p>
<p>
	Nullam fermentum, quam sit amet imperdiet imperdiet, mi arcu volutpat libero, a
	fringilla odio sapien a augue. Quisque elementum hendrerit turpis ut posuere. Duis
	vitae magna nec dui bibendum varius vel pretium nisl. Duis dapibus mi ac diam semper
	eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
	ac turpis egestas. Etiam posuere tortor consectetur orci tincidunt dictum. Phasellus
	nunc libero, egestas ac congue eget, aliquam ac nulla. Ut egestas, ipsum ut tincidunt
	ultrices, ante metus iaculis sapien, ac hendrerit nunc tortor a velit. Vestibulum
	augue sem, gravida quis suscipit non, mollis sit amet nisi. Sed imperdiet leo et
	quam tempus ut fringilla lacus lacinia. Fusce sed dui orci. Morbi vehicula sem ut
	sapien vehicula tincidunt. Vestibulum quis justo ante, quis faucibus eros. Suspendisse
	bibendum, massa non mattis posuere, nibh mauris cursus nunc, suscipit hendrerit
	nibh enim nec ipsum. Suspendisse mollis sodales pulvinar. Nam accumsan imperdiet
	nunc, ut porttitor augue suscipit in. Vestibulum ante ipsum primis in faucibus orci
	luctus et ultrices posuere cubilia Curae; Sed sem dui, ornare sed malesuada ac,
	lacinia sed tellus.
</p>
<p>
	Curabitur blandit blandit neque eu dignissim. Aliquam non sem nulla. Nulla posuere
	porta lacus, vitae sodales tellus fermentum ut. Vestibulum a velit id ipsum congue
	scelerisque id quis libero. Suspendisse metus tellus, consectetur sit amet semper
	at, iaculis nec magna. Praesent hendrerit molestie velit, eu iaculis nisi venenatis
	in. Sed vel dui lorem. Nulla nec diam odio, et volutpat nulla. In feugiat pellentesque
	est, sit amet imperdiet mauris dictum et. Curabitur at magna at velit malesuada
	auctor. Cras ac gravida purus. Aliquam porta diam in lectus ultrices sit amet vestibulum
	turpis tempus. Etiam interdum sapien ut metus interdum id posuere nibh faucibus.
</p>
<p>
	Duis accumsan, augue imperdiet consectetur fringilla, sem metus semper metus, vitae
	venenatis tortor ligula porttitor lacus. Curabitur at justo metus. In in lectus
	ac lectus euismod rhoncus a eget purus. Quisque et ultrices orci. Etiam ut elit
	erat, et bibendum enim. Duis vel ligula augue. Vivamus enim lorem, vehicula eget
	pellentesque nec, ultrices non turpis. Phasellus quis ipsum vitae nunc rhoncus dictum.
	Donec orci nunc, lacinia auctor congue nec, ullamcorper a turpis. Phasellus vel
	ligula sed arcu lacinia viverra ut quis nulla. Vestibulum pellentesque pretium consectetur.
	Fusce eget tellus libero, sit amet ornare ipsum. Nulla venenatis, metus id posuere
	interdum, metus urna lacinia ante, non rutrum leo lorem rutrum turpis. Nulla posuere
	est eu lorem semper dignissim. Donec neque dolor, pellentesque ut commodo eu, ultricies
	eu neque. Donec molestie hendrerit aliquet. Vestibulum suscipit, neque eu tempor
	fringilla, leo quam pellentesque elit, in pellentesque quam elit non odio.
</p>
</div> 
<div class="grid_6">
<img src="http://lorempixum.com/400/200/" />
</div>