<?xml version="1.0" encoding="utf-8" ?>
<cssConfiguration>
	<groups>	
		<group name="site" compress="true">
			<files>				
				<file path="Assets\css\reset.css"/>
				<file path="Assets\css\text.css"/>
				<file path="Assets\css\grid.css"/>
				<file path="Assets\css\layout.css"/>
				<file path="Assets\css\nav.css"/>
                <file path="Assets\css\sexybuttons.css"/>
                <file path="Assets\css\tasklist.css"/>
                <file path="Assets\css\tasklistreview.css"/>
                <file path="Assets\css\jquery-ui-1.8.6.custom.css"/>
				<file path="Assets\css\site.css"/>
			</files>
		</group>
		<group name="ie" compress="true">
			<files>				
				<file path="Assets\css\ie.css"/>
			</files>
		</group>

		<group name="ie6" compress="true">
			<files>
				<file path="Assets\css\ie6.css"/>
			</files>
		</group>
	</groups>
</cssConfiguration>
