<?xml version="1.0" encoding="utf-8" ?>
<scriptsConfiguration>
	<groups>
		<group name="frameworks" compress="false">
			<files>
				<file path="Assets\js\jquery-1.5.1.min.js"/>
				<file path="Assets\js\jquery.unobtrusive-ajax.min.js"/>
				<file path="Assets\js\jquery.validate.min.js"/>
				<file path="Assets\js\jquery.validate.unobtrusive.min.js"/>
				<file path="Assets\js\jquery-ui-1.8.11.min.js"/>

				<file path="Assets\js\jquery.dataTables.min.js"/>


				<file path="Assets\js\jq-watermark.min.js"/>
				<file path="Assets\js\modernizr-1.7.min.js"/>


			</files>
		</group>
		<group name="site" compress="true">
			<files>
				<file path="Assets\js\MicrosoftAjax.debug.js"/>
				<file path="Assets\js\MicrosoftMvcAjax.debug.js"/>
				<file path="Assets\js\MicrosoftMvcValidation.debug.js"/>

			</files>
		</group>
	</groups>
</scriptsConfiguration>
